# ignore R
**/*.Rproj.user
**/*.Rhistory
**/*.RData
**/*.Ruserdata
# ignore the ipynb checkpoints
**/.ipynb_checkpoints
# ignore .h5 binaries
**/*.h5
# ignore the PyCharm .idea folder
.idea/
# ignore temporary MS office files (e.g. locked ~$*.xlsx files created when opening excel)
~$*
# ignore granvik model folder since the .dat file is too big to add
**/granvik-model
# ignore .pyc files in pycache
**/*.pyc
# ignore json files since they're too big to add
**/*.json
# ignore the NumObs.txt, UnnObs.txt and CmtObs.txt files
**/NumObs.txt
**/UnnObs.txt
**/CmtObs.txt
# ignore MPCORB.DAT file
**/MPCORB.DAT
